<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>[[${pageTittle}]] - Call Web Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
<div th:fragment="menu">
    <ul class="nav navbar-expand-sm bg-dark navbar-dark" >

        <li class="nav-item">
            <a class="nav-link " style="color: white;" th:href="@{/}">Ongoing calls</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color: white;"  th:href="@{/showNewCallForm}">New call</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color: white;"  th:href="@{/history}">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white;"  th:href="@{/statistics}">Statistics</a>
        </li>
    </ul>
</div>
</body>
</html>