<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calls History</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div th:replace="fragments :: menu"></div>

    <h1>Calls List</h1>

    <div class="card-block col-sm-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Caller Number</th>
                <th>Callee Number</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Call Type</th>
                <th>Call status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="call : ${listCalls}">
                <td th:text="${call.callerNumber}"></td>
                <td th:text="${call.calleeNumber}"></td>
                <td th:text="${call.startTime}"></td>
                <td th:text="${call.endTime}"></td>
                <td th:text="${call.type}"></td>
                <td th:text="${call.status}"></td>
                <td>
                    <a th:href="@{/deleteCallById/{id}(id=${call.id})}" class="btn btn-danger" style="color: #dddddd" id="buttonCreate">Delete Call</a>
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>