<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ongoing calls list</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div th:replace="fragments :: menu"></div>

    <h1>Ongoing calls list</h1>

    <div class="card-block col-sm-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Caller Number</th>
                <th>Callee Number</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Call Type</th>
                <th>Call status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="call : ${listCalls}">
                    <td th:text="${call.callerNumber}"></td>
                    <td th:text="${call.calleeNumber}"></td>
                    <td th:text="${call.startTime}"></td>
                    <td th:text="${call.type}"></td>
                    <td th:text="${call.status}"></td>
                    <td>
                        <a th:href="@{/endCallById/{id}(id=${call.id})}" class="btn btn-danger" style="color: #dddddd" id="buttonCreate">End Call</a>
                    </td>
                </tr>
            </tr>
            </tbody>
        </table>


        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp; &nbsp;
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>
                <div class="col-sm-1">
                   <span th:if="${page.hasPrevious()}">
                        <a th:href="@{'/page/' +${currentPage-1}}">Previous</a>

                   </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>