<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ongoing calls list</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div th:replace="fragments :: menu"></div>

    <h1 style="padding-top: 10px; padding-bottom: 10px; text-align: center">Ongoing calls list</h1>

    <div class="card-block col-sm-12">
        <form th:action="@{/}" method="get">
            <label class="col-form-label">Filtering:</label>
            <select  name="type">
                <option th:value="ALL" th:text="All"></option>
                <option th:value="INBOUND" th:text="Inbound"></option>
                <option th:value="OUTBOUND" th:text="Outbound"></option>
            </select>
            <button type="submit">Go</button>
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Caller Number</th>
                <th>Callee Number</th>
                <th>Start time</th>
                <th>Call Type</th>
                <th>Call status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="call : ${listCalls}">
                    <td th:text="${call.callerNumber}"></td>
                    <td th:text="${call.calleeNumber}"></td>
                    <td th:text="${call.startTime}"></td>
                    <td th:text="${call.type}"></td>
                    <td th:text="${call.status}"></td>
                    <td>
                        <a th:href="@{/endCallById/{id}(id=${call.id})}" class="btn btn-danger" style="color: #dddddd" id="buttonCreate">End Call</a>
                    </td>
                </tr>
            </tr>
            </tbody>
        </table>
        <div class="row">
                <div class="row  form-group col-md-1">
                    <select class="form-control pagination" id="pageSizeSelect" th:action="@{/}" th:method="get">
                        <option  name="pageSize" th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                 th:value="${pageSize}"
                                 th:selected="${pageSize} == ${selectedPageSize}">
                        </option>
                    </select>
                </div>

            <div th:if="${totalPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-4">
                        Total Rows: [[${totalItems}]]
                    </div>
                    <div class="col-sm-1">
                         <span>
                            <a th:href="@{'/page/'(pageNumber=${1},pageSize=${selectedPageSize},type=${type})}">First</a>
                       </span>
                    </div>
                    <div class="col-sm-2">
                       <span th:if="${page.hasPrevious()}">
                            <a th:href="@{'/page/'(pageNumber=${currentPage-1},pageSize=${selectedPageSize},type=${type})}">Previous</a>
                       </span>
                    </div>
                    <th:block>
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/page/'(pageNumber=${i},pageSize=${selectedPageSize},type=${type})}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp; &nbsp;
                        </span>
                    </th:block>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/'(pageNumber=${currentPage + 1},pageSize=${selectedPageSize},type=${type})}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/'(pageNumber=${totalPages},pageSize=${selectedPageSize},type=${type})}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script
            src="https://code.jquery.com/jquery-1.11.1.min.js"
            integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            changePageAndSize();
        });
        function changePageAndSize() {
            $('#pageSizeSelect').change(function(evt) {
                window.location.replace("/?pageSize=" + this.value);
            });
        }
        /*]]>*/
    </script>
</body>
</html>